<div class="container">
  <div class="row">
    <div class="col-md-6 " style="margin-top: 35px;">
      <div class="about-info">
        <div class="title1 text-ali animate__animated animate__pulse ">{{"saludo"|translate}}
         <span class="wave-emoji"><img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/1f44b.png"></span>
         </div><br>
        <h2 class="card-title animate__animated animate__pulse "> {{"name"|translate}}</h2>
        <div class="card-title2 animate__animated animate__pulse">{{"profecion"|translate}} </div><br>
        <div class="card-title3 animate__animated animate__pulse  animate__delay-.5s	"> {{"mission"|translate}} </div>
        <div class="animate__animated animate__pulse mt-5">
          <a href="mailto:yersonhernandez202@gmail.com" class="btn btn-outline-light  m-2"
            style="border-color: #00ffb2;" role="button"> <button mat-button> {{"button1"|translate}}</button></a>
            <a class="btn btn-outline-light    btn btn-outline-success  m-2" href="#/inicio/proyectos" role="button">
            <button mat-button>{{"button2"|translate}}</button> </a>
          <th>
        </div>
      </div>
    </div>
    <div class="col-md-6 animate__animated animate__pulse animate__delay-1s" style="margin-top: 60px;">
      <div class="cuadro">
        <div class="cuadro2">
          <img src="..//../assets/img/2.jpg" class="imagen">
        </div>
      </div>
    </div>
  </div>
</div>
