<div class="container">
  <div class="row">
    <div class=" col-md-7 ">
      <div class="about-info">
        <div class="title1 animate__animated animate__pulse">Hola mi nombre es:</div>
        <div class="divider"></div>
        <h2 class="card-title animate__animated animate__pulse"> Yersón Hernández Rincon </h2>
        <div class="card-title2 animate__animated animate__pulse">Desarrollador: Full Stack</div>
        <div class="card-title3 animate__animated animate__pulse"> Mi misión es diseñar y desarrollar un sitio web que a
          ti y a tu audiencia les encante </div>
        <section class="mt-5">
          <a class="btn btn-outline-light  m-2" style="border-color: #00ffb2;" href="#!" role="button"> <button
              mat-button (click)="downloadPdf()"> Descargar CV</button></a>
          <a class="btn btn-outline-light  btn btn-outline-success  m-2" href="#/inicio/proyectos" role="button">
            <button mat-button> Mi Trabajo</button></a>
        </section>
      </div>
    </div>
    <div class="col-md-5 animate__animated animate__headShake" style="margin-top: 60px;">
      <div class="cuadro">
        <div class="cuadro2">
          <img src="..//../assets/img/2.jpg" class="imagen">
        </div>
      </div>
    </div>
  </div>
</div>