.about-info {

  padding: 0.1em;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(248, 248, 248);
  margin-top: 5px;
  margin-bottom: 2em;
}

.card-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 800;
}







.card-text {
  font-size: 19px;
  color: rgb(202, 199, 199);
}


.ng-lottie{
  margin-top: 300px;
}
.btn-outline-info {
  color: #ffffff;
  border-color: #ffffff;
}

.button1 {
  background-color: #99ff00;

  font-size: 25px;
  height: 60px;

}

.imagen {
  margin-left: 7px;
  width: 260px;
  height: 90%;
  margin-top: 5px;
}

.cuadro {
  border: 6px solid #ceefe5;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  height: 375px
}

.cuadro2 {
  border: 6px solid #00ffb2;
  margin-top: 7%;
  margin-left: 18px;
  width: 310px;
  height: 375px;
}

.imagen2 {
  width: 235px;
  height: 290px;
}


.card-title3 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 800
}