

tbody,  td{
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}
.h5,h5{
   
    margin: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
   
} 
.h4,h4{
    color: #cff5f1;
    font-weight: 800;
    margin: 10px;
    font-size: 22px;
}



img{
    width: 50px;

}
   

.modales   {
    background-color: #444445;
    
  
}

.margen1{
    border: 6px solid #ceefe5;
    margin: 2rem;
    width: 340px;
    height: 412px;
}

.modal-title{
    color: #cff5f1;
    font-weight: 800;
    margin: 5px;
    font-size: 30px
}
td[_ngcontent-buj-c52] {
    font-size: 28px;
    font-weight: 800;
    color: #14c2b1;
}
.btn{
    margin-left: 30px;
}