tbody,  th{
    font-size:2px;
    font-weight: 800;
    color: #cff5f1;
   
}

tbody,  td{
    font-size: 25px;
    font-weight: 600;
    color: #cff5f1;
}

.btn {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border-color: #00ffb2;
    background-color:#00ffb2;
    margin: 7px;
    
}


img{
    width: 50px;

}
   
.modales  {
    background-color: #2c2d2d;
  
}


