<div class="container">
    <div class="card-title2 animate__animated animate__pulse text-center">
        {{"perfil"|translate}}
    </div>
    <div class="row ">
        <div class=" col-md-3">
            <div class="botones">
                <div class=" btn btn-outline-light">
                    <a role="button">
                        <ng-lottie [options]="perfil" (click)="openModal(template1)"> </ng-lottie>
                    </a>
                </div>
            </div>
        </div>
        <div class="texto1 col-md-3">
            <div class="animate__animated animate__pulse">
                {{"name2"|translate}}
            </div>
        </div>

        <div class=" col-md-3">
            <div class="botones">
                <div class="btn btn-outline-light">
                    <a role="button">
                        <ng-lottie [options]="trabajo" (click)="openModal(template4)"> </ng-lottie>
                    </a>
                </div>
            </div>
        </div>
        <div class="texto1 col-md-3">
            <div class="animate__animated animate__pulse">{{"experiencia1"|translate}}</div>
        </div>


        <div class="col-md-3">
            <div class="botones">
                <div class="btn btn-outline-light"><a role="button">
                        <ng-lottie [options]="estudios" (click)="openModal(template2)">
                        </ng-lottie>
                    </a>
                </div>
            </div>
        </div>
        <div class=" texto1 col-md-3">
            <div class="animate__animated animate__pulse">
                {{"estudios2"|translate}}</div>
        </div>
        <div class="col-md-3">
            <div class="botones">
                <div class="btn btn-outline-light">
                    <a role="button">
                        <ng-lottie [options]="options" (click)="openModal(template3)"></ng-lottie>
                    </a>
                </div>
            </div>
        </div>
        <div class="texto1 col-md-3">
            <div class="animate__animated animate__pulse">{{"ubicacion"|translate}}</div>
        </div>
    </div>
</div>
<ng-template #template1>
    <div class="modales">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{"perfil"|translate}}</h4>
            <button class="btn-close bg-white text-dark" data-mdb-dismiss="modal" aria-label="Close"
                (click)="closeVentana()"></button>
        </div>
        <div class="modal-body" *ngFor='let descripciones of  "perfil2"| translate; let  i = index;'>
            <div> {{descripciones.Date1}}</div>
            <div> {{descripciones.Date2}}</div>
        </div>
    </div>
</ng-template>
<ng-template #template2>
    <div class="modales">
        <div class="modal-header">
            <h4 class="modal-title pull-left text-center">{{"estudios1"|translate}}</h4>
            <button class="btn-close bg-white text-dark" data-mdb-dismiss="modal" (click)="closeVentana()"></button>
        </div>
        <div class="modal-body" *ngFor='let estudios of "estudios"| translate; let i = index;'>
            <li>{{estudios.Title}}</li>
            <li>{{estudios.Curso}}</li>
            <li>{{estudios.Fecha}}</li>
            <li>{{estudios.Title1}}</li>
            <li>{{estudios.Curso1}}</li>
            <li>{{estudios.Fecha1}}</li>
            <li>{{estudios.Title2}}</li>
            <li>{{estudios.Curso2}}</li>
            <li>{{estudios.Fecha2}}</li>
        </div>
    </div>
</ng-template>
<ng-template #template3>
    <div class="modales">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{"ubicacion1"|translate}}</h4>
            <button class="btn-close bg-white text-dark" data-mdb-dismiss="modal" aria-label="Close"
                (click)="closeVentana()"></button>
        </div>
        <div class="modal-body" *ngFor='let ubicaciones of"ubicacion2"|translate;let i = index;'>
            <li>{{ubicaciones.Title}}</li>
            <li>{{ubicaciones.Date}}</li>
            <li>{{ubicaciones.Date1}}</li>
            <li>{{ubicaciones.Date2}}</li>
            <a href="mailto:yersonhernandez202@gmail.com">
                <li>Correo: yersonhernandez202@gmail.com</li>
            </a>
            <a href="https://www.linkedin.com/in/yerson-hernandez-0a6897229/">
                <li>Linkedin:yerson-hernandez-0a6897229/</li>
            </a>
            <agm-map [latitude]="lat" [longitude]="lng" style="height: 500px">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</ng-template>
<ng-template #template4>
    <div class="modales">
        <div class="modal-header">
            <h4 class="text-center modal-title pull-left">{{"experiencia"|translate}}</h4>
            <button class="btn-close bg-white text-dark" data-mdb-dismiss="modal" aria-label="Close"
                (click)="closeVentana()"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body" *ngFor='let experiencia of "experiencia2" | translate; let i = index'>
                <li> {{experiencia.Title}} </li>
                <li> {{experiencia.Date}} </li>
                <li *ngFor='let fechas of experiencia.Fecha'><span>{{fechas}}</span> </li>
                <div> {{experiencia.Date1}} </div>
                <div> {{experiencia.Date2}} </div>
                <div> {{experiencia.Date3}} </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="" style="margin-top:40px">

    <div class="row">
        <div class=" col-md-12">
            <div class="text-center card-title2 ">
                {{"texthoja"|translate}}
            </div>
            <div class="lottie">
                <ng-lottie [options]="servicios" width="100%"></ng-lottie>
            </div>
            <div class="text-center">
                <a class=" textbtn btn-outline-light btn btn-outline-success" style="border-color: #00ffb2;"
                    role="button">
                    <button mat-button (click)="downloadPdf()"> {{"button3"|translate}}</button></a>
            </div>
        </div>

    </div>
</div>