

tbody,  td{
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}
.h5,h5{
   
    margin: 8px;
    color: #ffffff;
    font-weight: 800;
    font-size: 19px;
   
} 
.h4,h4{
    color: #cff5f1;
    font-weight: 800;
    margin: 10px;
    font-size: 20px;
}



img{
    width: 50px;

}
   

.modales   {
    background-color: #444445;
    
  
}

.margen1{
    border: 6px solid #ceefe5;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 490px
}

.modal-title{
    color: #cff5f1;
    font-weight: 800;
    margin: 5px;
    font-size: 30px
}
td[_ngcontent-buj-c52] {
    font-size: 28px;
    font-weight: 800;
    color: #14c2b1;
}
