
swiper-container {
  padding: 2.5em;
  width: 397px;
  height: 440px;
  
}



swiper-slide {
  border-radius: 18px;
}

swiper-slide:nth-child(2n) {
  background-color: #fafafa;
  
}
.cart-description{
  font-size: 23px;
  color: #000000;
  padding: 1.5rem;

}
swiper-slide img {
  display: block;
  width: 198%;
  height: 100%;
  border-radius: 18px;

}



.mat-mdc-card-header {
  display: block;
  padding: 16px 16px 0;
  font-size: 38px;
}






.tituloproyecto{
  text-align: center;
  font-weight: 800;
  color:rgb(255, 255, 255) ;
}



