
html,


body {
 
   // font-family: 'Hind Vadodara', sans-serif;
   //font-family: 'Zen Dots', cursive;
  // font-family: 'Aldrich', sans-serif;
 // font-family: 'Montagu Slab', serif;
 //font-family: 'Plaster', cursive;
 //font-family: 'Saira Stencil One', cursive;
font-family: 'Share Tech Mono', monospace;
// font-family: 'Sofia Sans', sans-serif;
}

/*
font-family: 'Aldrich', sans-serif;
font-family: 'Montagu Slab', serif;
font-family: 'Plaster', cursive;
font-family: 'Saira Stencil One', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Sofia Sans', sans-serif;
font-family: 'Zen Dots', cursive;*/

.title1{
    font-size: 50px;
    color: #00ffb2;
    font-weight: 800;
}
.title2{
    color: #00ffb2;
    font-size: 36px;
    font-weight: 600;
 
}