html,
body {
  font-family: 'Share Tech Mono', monospace;
}

.title1 {
  font-size: 70px;
  color: #00ffb2;
  font-weight: 800;
}

.title2 {
  color: #00ffb2;
  font-size: 36px;
  font-weight: 600;

}

.margen {
  border: 5px solid #00ffb2;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
}

.container {
  margin-top: 46px;
}

.card-title2 {
  color: #00ffb2;
  font-size: 45px;
  font-weight: 800;

}