<div class="container" style="margin-top: 200px;">
  <footer class="text-center text-white">
    <section class="mb-3">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/yersonhernand?mibextid=ZbWKwL"
        role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/yerson-hernandez-0a6897229/"
        role="button"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/yersonrincon" role="button"><i
          class="fab fa-github"></i></a>
    </section>
    <div class="text-center mb-5">
      Desarrollado por: Yersón Hernández 2023
    </div>
  </footer>
</div>