<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title2 text-center animate__animated  animate__animated animate__pulse">{{"proyectos"|translate}}</h2>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="4px grid">
                <mat-card *ngFor="let member of members" flex="calc(33%-25px)" min-height="calc(33%-25px)">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                    </mat-card-header>
                    <div class="marge1 animate__animated animate__flipInX">
                        <img mat-card-image [src]="member.src" style="width: 400px; height: 320px; padding: 1rem;">
                    </div>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px; padding: 1rem;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title2 text-center animate__animated  animate__animated animate__pulse mt-3">{{"proyectos1"|translate}}</h2>
            <div class="margen">
                <div class="circle-grow" [@grow]="growState" (@grow.done)="onGrowDone()">
                    <mat-grid-list [cols]="mybreakpoint" (window:resize)="handleSize($event)" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let icono of iconos">
                            <img [src]="icono.src" style=" width: 100px;  padding: 1rem;">
                           
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>
