.marge1 {
  border: 3px solid #ffffff;
}

.card-title3 {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
}

.title1 {
  font-size: 40px;
  color: #00ffb2;
  font-weight: 800;
  margin-top: 80px;
  padding: 0rem;
}

.about-info {
  padding: 0rem;
}

@media (max-width: 1250px) and (min-width: 610px) {
  mat-card  {
    padding: 1rem;
   // width: 300px;

   .img{
    width:40px;
   }
  }

}