

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top:100px">
            <div class="about-info">
                <div class=" card-title2 animate__animated animate__pulse "> {{"proyectos1"|translate}}</div>
                <div class="card-title3 animate__animated animate__pulse  animate__delay-.5s">
                    {{"proyectos2"|translate}} </div>
                <div class="card-title3 animate__animated animate__pulse  animate__delay-.5s">
                    {{"proyectos3"|translate}} </div>
            </div>
        </div>
        <div class="col-md-6">
         <ng-lottie [options]="herramientas" width="100%"></ng-lottie>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title2 text-center animate__animated  animate__animated animate__pulse">
                {{"proyectos"|translate}}</h2>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="3px grid">
                <mat-card *ngFor="let member of members" flex="calc(33%-25px)" min-height="calc(33%-25px)">
                    <div class="animate__animated animate__flipInX">
                        <img mat-card-image [src]="member.src">
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<!--<div class="container" style="margin-top: 100px; padding: 1rem;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title2 text-center animate__animated  animate__animated animate__pulse mt-3">
                {{"proyectos1"|translate}}</h2>
            <div class="margen">
                <div class="circle-grow" [@grow]="growState" (@grow.done)="onGrowDone()">
                    <mat-grid-list [cols]="mybreakpoint" (window:resize)="handleSize($event)" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let icono of iconos">
                            <img [src]="icono.src" style=" width: 100px;  padding: 1rem;">
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
        </div>
    </div>
</div>-->