<!--<mat-nav-list>

    <a routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-icon>edit</mat-icon>
    </a>
    <a routerLinkActive="list-item-active" routerLink="/inicio/proyectos">
        <mat-icon>home</mat-icon>
    </a>
    <a routerLinkActive="list-item-active" routerLink="/inicio/dashboard">
        <mat-icon >dashboard</mat-icon>
    </a>
    <a routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <mat-icon matListItemIcon>folder</mat-icon>

</mat-nav-list>-->

 <!--<mat-list role="list">
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </mat-list-item>
    </a>
    <a   routerLinkActive="list-item-active" routerLink="/inicio/proyectos">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card_travel"></mat-icon>
        </mat-list-item>
    </a>
    <a   routerLinkActive="list-item-active" routerLink="/inicio/proyectos">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_outline"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="reorder"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card_travel"></mat-icon>
        </mat-list-item>
    </a>
  </mat-list> -->





  <mat-nav-list>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_outline"></mat-icon>
        </mat-list-item>
    </a>
    <a   routerLinkActive="list-item-active" routerLink="/inicio/proyectos">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card_travel"></mat-icon>
        </mat-list-item>
    </a>
    <a   routerLinkActive="list-item-active" routerLink="/inicio/experiencia">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="reorder"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card_travel"></mat-icon>
        </mat-list-item>
    </a>
    
</mat-nav-list>

