
  <mat-nav-list>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/perfil">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </mat-list-item>
    </a>
    <a  routerLinkActive="list-item-active" routerLink="/inicio/descripcion">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_outline"></mat-icon>
        </mat-list-item>
    </a>
   
    <a   routerLinkActive="list-item-active" routerLink="/inicio/proyectos">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="card_travel"></mat-icon>
        </mat-list-item>
    </a>

    <a  routerLinkActive="list-item-active" routerLink="/inicio/estudios">
        <mat-list-item role="listitem">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="school"></mat-icon>
        </mat-list-item>
    </a>
    
    
</mat-nav-list>

<mat-nav-list>
